<div class="row">
    <div class="col-md-6">
        <div class="blog-box">
            <div class="blog-image">
                <img class="img-responsive img-border img-full" src="images/slide-1.jpg" alt="">
            </div>
            <h2><a href="#">Post Sigit</a></h2>
            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
            <div class="text-left">
                <a ui-sref="blog-link" class="btn btn-default btn-lg">Read More</a>
            </div>
            <div>
                <p>Share This</p>
                <div class="socmed-wrap">                   
                    <div>
                        <span fb-like="myModel.Url"></span>
                    </div>
                    <div>                                   
                        <span tweet="myModel.Name" tweet-url="myModel.Url"></span>                  
                    </div>
                    <div>
                        <span google-plus="myModel.Url"></span>
                    </div>
                    <div>
                        <span pin-it="myModel.Name" pin-it-image="myModel.ImageUrl" pin-it-url="myModel.Url"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>                
            </div>
            <div class="clearfix"></div>
        </div>    
    </div>
</div>